.c-logo {
  font-weight: bold;
}

  .c-logo__title,
  .c-logo__subtitle {
    fill-rule: nonzero;
    fill: $oc-gray-7; // #706F6F;
    text-transform: uppercase;
  }

  .c-logo__title {
    font-size: 146px;
  }

  .c-logo__subtitle {
    font-size: 41px;
  }
