.c-features {
	position: relative;
	background-color: #5C5C5F;
	color: white;

	// height: 450px;

	&:after {
		display: table;
		content: "";
		clear: both;
	}

	&__body {
		padding: $inuit-global-spacing-unit;
		width: 50%;
	}

	&__img {
		float: right;
	  width: 100%;

	  @include mq(desktop) {
	  	float: right;
	  	width: 50%;
	  	right: 0;
	  	top: 0;
	  	// border-left: 10px solid rgba(#c0d465, 0.3);
	  }
	}
}
